nbproject/
build/
dist/
build.xml
nbbuild.xml


#Configuraciones del glashfish
setup/

#Conf de la bd
src/conf/
build/web/WEB-INF/classes/hibernate.cfg.xml
nbproject/private/private.properties
src/java/hibernate.cfg.xml
nbproject/private/private.properties
